*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  background-color: rgb(56, 14, 95);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color: white;
  font-size: 50px;
  margin-bottom: 2rem;
}
p{
  font-size: 20px;
  color: white;
  margin-bottom: 1rem;
}

#temperature{
  color: yellow;
  font-size: 30px;
}

#buttons{
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
}

button{
  padding: 12px;
  width: 7rem;
  color: white;
  background-color: rgb(125, 40, 204);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#buttons :hover{
  background-color: rgb(151, 88, 211);
}